<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
      <startup
            class="org.jboss.tools.maven.polyglot.poc.translator.internal.core.DummyStartup">
      </startup>
   </extension>
   <extension point="org.eclipse.core.resources.markers"
         id="mavenPolyglotProblem.translationError"
         name="Maven pom Polyglot Problem">
      <super type="org.eclipse.m2e.core.maven2Problem"/>
      <persistent value="true"/>
   </extension>
</plugin>
